<mat-tab-group (selectedTabChange)="onCameraTabChange($event.index)">
    @for (tab of this.tabs; track $index) {
        <mat-tab [label]="tab.name" [id]="tab.id">
            <mat-card appearance="outlined" class="card-config">
                <mat-card-content class="mat-card-content">
                   
                    <div class="card-grid-container">
                        <div class="section-Search">
                            <mat-form-field class="form-field-padding">
                                <mat-label>Start date</mat-label>
                                <input
                                  matInput
                                  [matDatepicker]="pickerStart"                              
                                  (dateChange)="addDateStart('change', $event)"
                                />
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                <mat-datepicker #pickerStart></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="form-field-padding">
                                <mat-label>End date</mat-label>
                                <input
                                  matInput
                                  [matDatepicker]="pickerEnd"                              
                                  (dateChange)="addDateEnd('change', $event)"
                                />
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                <mat-datepicker #pickerEnd></mat-datepicker>
                            </mat-form-field>
    
                            <button  class="form-field-padding" mat-fab extended (click)="SearchAnalytics(tab.id)">
                                <mat-icon> search</mat-icon>
                                Buscar
                            </button>
                        </div>
                        <div class="section-Img">
                            <img class="img-size" [src]="tab.imageAnalytics">
                        </div>                       
                      </div>
                </mat-card-content>
            </mat-card>

        </mat-tab>
    }
</mat-tab-group>
