<div class="login-container" [style.background-image]="'url(' + backgroundImage + ')'">  
    <mat-card appearance="outlined" class="login-card">
        <mat-card-content class="card-content">            
            <img src="full_Logo.png" class="full-logo" alt="Imagen">
            <img src="logo_xcat.png" class="xcat-logo" alt="Imagen">
            <button mat-flat-button class="login-button" (click)="loginAnonymous()">Acceso al sistema</button>
        </mat-card-content>
    </mat-card>
</div>



