.example-container {
    height: 500px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }


  .fila-hover:hover  {
    background-color: rgba(24, 112, 206, 0.1); /* azul clarito al pasar el mouse */

  }